@fonts: "Roboto, Noto, Sans-serif";

.App {
  text-align: center;
  font-family: @fonts;
}

.input-container {
 width: 50%;
 margin-left: 20px;
 display: inline-block;
 text-align: center;
}

.button-margin {
  margin: 5px;
}

#get-projects-button {

}

.card {
  box-shadow: 5px 5px 10px #888888;
}

.selected-statement {
  font-size: 20px;
  span {
    font-style: italic;
    font-weight: bold;
  }
}

.selected-block {
  margin-top: 20px;
}